.parallax{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1{
        font-size: 70px;
        margin-bottom: 150px;
    }

    .mountains{
        background-image: url("mountains.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }
    .planets{
        background-image: url("planets.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        margin-bottom: 400px;
        z-index: 2;
    }
    .stars{
        background-image: url("stars.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        margin-right: 800px;
        margin-bottom: 100px;
        position: absolute;
        z-index: 1;
    }
}