@use "../../app.scss" as *;

.parallax {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  padding: 0 5vw;

  h1 {
    font-size: 90px;
    margin-bottom: 330px;
    color: white;
    text-align: center;
    margin-right: 50px;
    z-index: 4;

    @media (max-width: 1024px) {
      font-size: 72px;
    }

    @media (max-width: 738px) {
      font-size: 50px;
      margin-bottom: 250px;
      margin-left: 10%;
    }

    @media (max-width: 480px) {
      font-size: 36px;
      margin-bottom: 250px;
    }
  }

  .mountains,
  .planets,
  .stars {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .mountains {
    z-index: 3;
    background-image: url("/mountains.png");
  }

  .planets {
    z-index: 2;
    margin-bottom: 1100px;
    background-image: url("/sun.png");
    @media (max-width: 738px) {
      background-size: contain;
      background-image: 50%;
      margin-bottom: 570%;
      background-repeat: no-repeat;
    }
  }

  .stars {
    z-index: 1;
    margin-right: 2200px;
    margin-bottom: 50px;
    background-image: url("/stars.png");
    @media (max-width: 738px) {
      margin-left: 1650px;
    }
  }
}
