@use "../../app.scss" as *;

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px; // Add some horizontal padding

    span {
      font-weight: bold;
      @media (max-width: 738px) {
        display: none; // Hide name on small screens
      }
    }

    .social {
      display: flex;
      gap: 20px;

      @media (max-width: 738px) {
        display: none; // Hide social icons as they're in the sidebar
      }

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
